<div class="row-fluid">
    <div class="span6">
        <label class="" style="margin-left:0px">Régimen Fiscal SAT</label>
    </div>
    <div class="span2">
        <label class="" style="margin-left:0px">Fecha de Inicio</label>
    </div>
    <div class="span2">
        <label class="" style="margin-left:0px">Fecha de Fin</label>
    </div>
</div>

{{#each regimenes_list}}
    <div class="row-fluid">
        <div class="span6">
            <label class="normal " type="text" style="margin-left:0px" >{{name}}</label>
        </div>
        <div class="span2">
            <label class="normal " type="text" style="margin-left:0px" >{{startDate}}</label>
        </div>
        <div class="span2">
            <label class="normal " type="text" style="margin-left:0px" >{{endDate}}</label>
        </div>
    </div>
{{/each}}
</div>