<!--
/*
 *  AF - 2018-10-23
 *  CustomField - Grid
 */
-->
<!-- Campo para desplegar Objetivos en minuta: Detalle -->
<div style="border: 2px solid #58749a;border-radius: 12px;padding:10px;">
  <!-- Table list-->
  <div class="list-view">
    <table id="tableResult" class="table table-striped">
        <thead>
            <tr bgcolor="#001441" style="color:#fff">
                <th width="80%">Objetivo</th>
                <th width="20%" style="text-align:center">Cumplimiento</th>
            </tr>
        </thead>
        <tbody>
          {{#each myobjmin.records}}
            <tr>
                <td class="objetivoSelect">
                  {{name}}
                </td>
                <td class="CheckAction" style="text-align:center">
                  {{#if cumplimiento}}
                    <i class="fa fa-check" style="color: #33800d; font-size:20px"></i>
                  {{else}}
                    <i class="fa fa-check" style="font-size:20px"></i>
                  {{/if}}
                </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</div>
<hr style="display: block;    height: 1px;    border: 0;    border-top: 15px solid #000042;    margin: 1em 0;    padding: 0;" >

{{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
