<div class="span6 record-cell" data-name="director_seleccionado_c">
    <label class="normal row-fluid select2 directorSolicitud" data-field="directorSolicitud">
        {{directorSolicitud}}
    </label>
</div>