<script>
    /*
    var ddwDirectores = this.$('select.director_solicitud');
    //ddwDirectores.select2();
    ddwDirectores.select2({
        width:'100%'
    });
    */

</script>
<div class="record-cell" data-type="enum" data-name="director_seleccionado_c">
    <select class="row-fluid select2 director_solicitud" id="director_solicitud">
        {{#each directores_list}}
            <option value="{{this.id}}" {{ifSelected this.id ../directorSolicitudId}}>{{this.text}}</option>
        {{/each}}
    </select>
</div>