body.sugar-light-theme,
.sugar-light-theme {
  color-scheme: light;

  --active-tab-border-color: #0679c8;
  --tab-background-hover-color: #d6eeff;
  --selected-tab-background-hover-color: #bedef4;
  --alert-background: #ffffff;
  --alert-border: transparent;
  --border-color: #e5eaed;
  --border-color-focus: #b8bcbe;
  --border-color-light: #f1f3f4;
  --btn-background: #ffffff;
  --btn-active-background: #2b2d2e;
  --btn-hover-background: #4d5154;
  --btn-dark-invisible-background: #e5eaed;
  --btn-dark-invisible-background-hover: transparent;
  --btn-secondary-background: #ffffff;
  --btn-secondary-background-active: #d9dddf;
  --btn-secondary-background-hover: #f1f3f4;
  --btn-secondary-background-disabled: #ffffff;
  --btn-secondary-border: #f1f3f4;
  --btn-secondary-border-hover: #e5eaed;
  --btn-secondary-color: #6f777b;
  --btn-secondary-color-hover: #2b2d2e;
  --btn-secondary-color-disabled: #6f777b;
  --btn-secondary-inset: #d9dddf;
  --btn-disabled-color: #9ba1a6;
  --config-pill-background: #d6eeff;
  --config-pill-text: #005d9c;
  --config-multifield-background: #f8fafc;
  --content-background: #f8fafc;
  --content-timeline-background: #f8fafc;
  --content-container-background-hover: #ffffff;
  --content-loading-background: #f1f3f4;
  --dashlet-background: #ffffff;
  --dashlet-background-hover: #ffffff;
  --data-skeleton-loader: url('../../../assets/img/skeleton-loaders/data-skeleton-loader.svg');
  --timeline-skeleton-loader: url('../../../assets/img/skeleton-loaders/timeline-skeleton-loader.svg');
  --dropdown-background: #ffffff;
  --dropdown-submenu-background: #f1f3f4;
  --dropdown-disabled-background: #e5eaed;
  --dropdown-link-background-active: #0679c8;
  --dropdown-link-background-hover: #d6eeff;
  --dropdown-link-color-hover: #0679c8;
  --dropdown-border-widget: none;
  --dupelicate-table-background: #fff7ad;
  --dupelicate-table-content-color: #866500;
  --footer-background: #f1f3f4;
  --headerpane-background: #f1f3f4;
  --headerpane-side-toggle-background: #e5eaed;
  --headerpane-side-toggle-hover-background: #d9dddf;
  --inform-text-color: #517bf8;
  --info-text-color: #29388c;
  --info-text-hover: #517bf8;
  --input-background: #ffffff;
  --input-disabled-background: #f1f3f4;
  --label-color: #6f777b;
  --label-background: #f1f3f4;
  --link-color: #0679c8;
  --link-color-hover: #005d9c;
  --link-color-active: #ffffff;
  --navbar-background: #ffffff;
  --navbar-border-color: #e5eaed;
  --pill-background: #d6eeff;
  --popover-arrow-color: #ffffff;
  --primary-content-active: #e5eaed;
  --primary-content-background: #ffffff;
  --primary-content-background-accent: #f1f3f4;
  --primary-content-hover: #d6eeff;
  --progress-bar-background: #d9dddf;
  --record-pill-hover-background: #d6eeff;
  --secondary-content-background: #f1f3f4;
  --select2-background: #f8fafc;
  --select2-background-hover: #f1f3f4;
  --resizer-color: #d9dddf;
  --drag-handle-color: #ffffff;
  --shadow-color: #d9dddf;
  --shadow-color-hover: #b8bcbe;
  --sicon-color: #6f777b;
  --sicon-active-color: #2b2d2e;
  --sicon-hover-color: #0679c8;
  --sidebar-nav-background: #0679c8;
  --sidebar-nav-background-hover: #005d9c;
  --sidebar-nav-group-divider-color: rgba(214, 238, 255, 0.8);
  --stack-logo: url('../../../assets/img/stack-light.svg');
  --stack-logo-about: url('../../../assets/img/stack-light.svg');
  --subpanel-background: #f1f3f4;
  --subpanel-background-hover: #e5eaed;
  --text-color: #2b2d2e;
  --text-color-hover: #16191d;
  --text-color-inverse: #e5eaed;
  --text-color-light: #6f777b;
  --text-disabled-color: #6f777b;
  --metric-badge-background: #e5eaed;
  --subheader-content-background: #f1f3f4;
  --activity-base-color: #00ba83;
  --activity-background-color: #f1f3f4;
  --activity-border-top-color: #9ba1a6;
  --activity-color: #2b2d2e;
  --activity-inprogress-color: #0679c8;
  --activity-base-cancellation-color: #e61718;
  --activity-base-not-color: #fbc02d;
  --tempalte-card-color: #e5eaed;
  --activity-base-icon-color: #6f777b;
  --activity-row-fluid-color: #f1f3f4;
  --activity-row-fluid-border-color: #cfcfcf;
  --activity-progress-color: #9ba1a6;
  --activity-info-color: #2b2d2e;
}

body.sugar-dark-theme,
.sugar-dark-theme {
  color-scheme: dark;

  --active-tab-border-color: #79ade0;
  --tab-background-hover-color: #002e4e;
  --selected-tab-background-hover-color: #002036;
  --alert-background: #16191d;
  --alert-border: #2b2d2e;
  --border-color: #4d5154;
  --border-color-focus: #9ba1a6;
  --border-color-light: #6f777b;
  --btn-background: #000000;
  --btn-active-background: #4d5154;
  --btn-hover-background: #2b2d2e;
  --btn-dark-invisible-background: #4d5154;
  --btn-dark-invisible-background-hover: #16191d;
  --btn-secondary-background: #2b2d2e;
  --btn-secondary-background-active: #16191d;
  --btn-secondary-background-hover: #4d5154;
  --btn-secondary-background-disabled: #2b2d2e;
  --btn-secondary-border: #4d5154;
  --btn-secondary-border-hover: #6f777b;
  --btn-secondary-color: #f1f3f4;
  --btn-secondary-color-hover: #d9dddf;
  --btn-secondary-color-disabled: #6f777b;
  --btn-secondary-inset: #2b2d2e;
  --btn-disabled-color: #4d5154;
  --config-pill-background: #2b2d2e;
  --config-pill-text: #e5eaed;
  --config-multifield-background: #16191d;
  --content-background: #16191d;
  --content-timeline-background: #2b2d2e;
  --content-container-background-hover: #0f0f0f;
  --content-loading-background: #16191d;
  --dashlet-background: #000000;
  --dashlet-background-hover: #16191d;
  --data-skeleton-loader: url('../../../assets/img/skeleton-loaders/data-skeleton-loader-dark.svg');
  --timeline-skeleton-loader: url('../../../assets/img/skeleton-loaders/timeline-skeleton-loader-dark.svg');
  --dropdown-background: #000000;
  --dropdown-submenu-background: #0f1215;
  --dropdown-disabled-background: #16191d;
  --dropdown-link-background-active: #4d5154;
  --dropdown-link-background-hover: #2b2d2e;
  --dropdown-link-color-hover: #ffffff;
  --dropdown-border-widget: 1px solid #2b2d2e;
  --dupelicate-table-background: #4c4a34;
  --dupelicate-table-content-color: #fff7ad;
  --footer-background: #0f1215;
  --headerpane-background: #16191d;
  --headerpane-side-toggle-background: #4d5154;
  --headerpane-side-toggle-hover-background: #2b2d2e;
  --inform-text-color: #517bf8;
  --info-text-color: #c6ddff;
  --info-text-hover: #517bf8;
  --input-background: #000000;
  --input-disabled-background: #16191d;
  --label-color: #9ba1a6;
  --label-background: #6f777b;
  --link-color: #79ade0;
  --link-color-hover: #d6eeff;
  --link-color-active: #ffffff;
  --navbar-background: #000000;
  --navbar-border-color: #4d5154;
  --pill-background: #2b2d2e;
  --popover-arrow-color: #000000;
  --primary-content-active: #16191d;
  --primary-content-background: #000000;
  --primary-content-background-accent: #2b2d2e;
  --primary-content-hover: #2b2d2e;
  --primary-content-hover-striped: #4d5154;
  --progress-bar-background: #4d5154;
  --record-pill-hover-background: #2b2d2e;
  --secondary-content-background: #2b2d2e;
  --select2-background: #16191d;
  --select2-background-hover: #2b2d2e;
  --resizer-color: #9ba1a6;
  --drag-handle-color: #f1f3f4;
  --shadow-color: #0f1215;
  --shadow-color-hover: #0f1215;
  --sicon-color: #9ba1a6;
  --sicon-hover-color: #ffffff;
  --sicon-active-color: #e5eaed;
  --sidebar-nav-background: #0679c8;
  --sidebar-nav-background-hover: #005d9c;
  --sidebar-nav-group-divider-color: rgba(214, 238, 255, 0.8);
  --stack-logo: url('../../../assets/img/stack-dark-opacity50.svg');
  --stack-logo-about: url('../../../assets/img/stack-dark-opacity70.svg');
  --subpanel-background: #2b2d2e;
  --subpanel-background-hover: #0f1215;
  --text-color: #e5eaed;
  --text-color-hover: #ffffff;
  --text-color-inverse: #2b2d2e;
  --text-color-light: #d9dddf;
  --text-disabled-color: #9ba1a6;
  --metric-badge-background: #6f777b;
  --activity-base-color: #00ba83;
  --activity-background-color: #2b2d2e;
  --activity-border-top-color: #6f777b;
  --activity-color: #9ba1a6;
  --activity-inprogress-color: #0679c8;
  --activity-base-cancellation-color: #e61718;
  --activity-base-not-color: #fbc02d;
  --tempalte-card-color: #4d5154;
  --activity-base-icon-color: #6f777b;
  --activity-row-fluid-color: transparent;
  --activity-row-fluid-border-color: transparent;
  --activity-progress-color: #6f777b;
  --activity-info-color: #9ba1a6;
  --activity-base-type-icon-color: #9ba1a6;
}
