{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="advanced-container bg-[--dashlet-background] h-[calc(100%-2rem)] rounded-lg shadow w-[calc(100%-2rem)]" data-container="advanced-container">
    <h5 class="advanced-filters-title ml-4" data-title="title">{{str "LBL_ADVANCED_FILTERS"}}</h5>
    <div class="advanced-filters-widget-container h-[500px] overflow-y-auto relative" data-container="advanced-filters-widget-container">
        {{#if _hasFlattenFilters}}
            {{#each _flattenedFilters}}
                {{partial type ../this data=this}}
            {{/each}}
        {{else}}
            <div class="report-no-data-available h-full mr-5 text-center" data-widget="report-no-filters">
                {{str "LBL_NO_FILTERS_REPORT_AVAILABLE"}}
            </div>
        {{/if}}
    </div>
</div>
