*.log
/cache
/config.php
/config_override.php
/.htaccess
/custom/application
/custom/history
/custom/modules/*/Ext
/custom/blowfish
/custom/qr/*
/upload/*
/.idea/
/.DS_Store
/custom/errores_reasignacion/*
