*.log
/cache
/config.php
/config_override.php
/.htaccess
/custom/application
/custom/history
/custom/modules/*/Ext
/custom/blowfish
/custom/qr/*
/upload/*
/.idea/
/.DS_Store
/custom/modules/Connectors/metadata/connectors.php
/custom/errores_reasignacion/*
*config.js
/custom/Extension/application/Ext/JSGroupings/orderMapping.php
/custom/Extension/application/Ext/EntryPointRegistry/orderMapping.php
/custom/Extension/application/Ext/Include/orderMapping.php
/custom/Extension/modules/*/Ext/Vardefs/*orderMapping.php
/custom/Extension/modules/*/Ext/Language/*orderMapping.php
/custom/Extension/application/Ext/Language/*orderMapping.php
/custom/Extension/application/Ext/LogicHooks/orderMapping.php
/custom/Extension/application/Ext/TableDictionary/orderMapping.php
/custom/Extension/modules/*/Ext/Dependencies/orderMapping.php
/custom/Extension/modules/*/Ext/Layoutdefs/orderMapping.php
/custom/Extension/modules/*/Ext/LogicHooks/orderMapping.php
/custom/Extension/modules/*/Ext/WirelessLayoutdefs/orderMapping.php
/custom/Extension/modules/*/Ext/Administration/orderMapping.php
/custom/Extension/modules/*/Ext/ScheduledTasks/orderMapping.php
/custom/plantillaCSV/leads_calidad.csv
/custom/plantillaCSV/leads_no_calidad.csv
