<!--
Detall de Cuentas por Producto
Adrián Arauz - 09-11-19
-->
<div class="row-fluid">
    <table id="tableCuentaxProducto" width="100%">
        <tr>
                <div class="row-fluid">
                    <div class="campo1L span6">
                        <label class="record-label" style="margin-left:0px">Tipo de Cuenta Leasing</label>
                        <label class="normal " type="text" style="margin-left:0px" data-name="leasing"/>
                        {{productos.tct_tipo_cuenta_l_c}}
                    </div>

                    <div class="campo2f span6">
                        <label class="record-label" style="margin-left:0px">Tipo de Cuenta Factoraje</label>
                        <label class="normal " type="text" style="margin-left:0px" data-name="factoring"/>
                        {{productos.tct_tipo_cuenta_f_c}}
                    </div>
                </div>
            <tr>
            </tr>
                <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                    <div class="campo3ca span6">
                        <label class="record-label" style="margin-left:0px">Tipo de Cuenta CA</label>
                        <label class="normal " type="text" style="margin-left:0px" data-name="CA"/>
                        {{productos.tct_tipo_cuenta_ca_c}}
                    </div>
                    <div class="campo3fleet span6">
                        <label class="record-label" style="margin-left:0px">Tipo de Cuenta Fleet</label>
                        <label class="normal " type="text" style="margin-left:0px" data-name="CA"/>
                        {{productos.tct_tipo_cuenta_fl_c}}
                    </div>
                </div>
        </tr>
    </table>
</div>