<!--
/*
 *  AF - 2018-10-23
 *  CustomField - Grid
 */
-->
<div style="border: 2px solid #58749a;border-radius: 12px;padding:10px;">
  <!-- Table list-->
  <div class="list-view">
    <table id="tableResult" class="table table-striped">
        <thead>
            <tr bgcolor="#001441" style="color:#fff">
                <th>Compromiso</th>
                <th>Responsable</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
          {{#each myData2.records}}
            <tr>
                <td class="campo1Select">
                  {{name}}
                </td>
                <td class="campo2Select">
                  {{assigned_user_name}}
                </td>
                <td class="campo3Select">
                  {{date_entered}}
                </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</div>
<hr style="display: block;    height: 1px;    border: 0;    border-top: 15px solid #000042;    margin: 1em 0;    padding: 0;" >
