<!--
/*
 *  AF - 2018-10-23
 *  CustomField - Grid
 */
-->
<b>Elementos existentes</b>
<div>
  <!-- Table list-->
  <div class="list-view">
    <table id="tableResult" class="table table-striped dataTable">
        <thead>
            <tr>
                <th>Compromiso</th>
                <th>Responsable</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
          {{#each myData.records}}
            <tr>
                <td class="campo1Select">
                  {{name}}
                </td>
                <td class="campo2Select">
                  {{created_by_name}}
                </td>
                <td class="campo3Select">
                  {{date_entered}}
                </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</div>
