<!--
/*
 *  AF - 2018-10-23
 *  CustomField - Grid
 */
-->
<div>
  <!-- Table list-->
  <div class="list-view">
    <table id="tableResult">
        <tbody>
          {{#each obj_dates}}
            <tr>
                <td class="campo3Select">
                  {{this}}
                </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</div>
