<div>HOLA
    <!-- Table list-->
    <table class="table table-striped table-bordered table-condensed">
        {{#each value}}
            <tr>
                <td>{{tct_pld_campo1_txt}}</td>
                <td>{{telefono}}</td>
                <td>{{extension}}</td>
                <td>{{estatus}}</td>
                <td align="center"></td>
            </tr>
        {{/each}}
    </table>
</div>