{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="report-loading-screen-overlay" data-widget="report-loading" data-type="table">
    <div class="data-skeleton-loader h-full w-full"></div>
</div>

<div class="dataTablePlaceholder h-full overflow-y-hidden{{#if _customCssClasses}} {{_customCssClasses}}{{/if}}"></div>
