.numbers {width: 100%;  display: inline-block;  text-align: center;   padding: 20px 0;}
.numbers a{display: inline-block;  background: #333; height:15px;    padding: 7px 12px;    color: #fff;   text-decoration: none;  border-radius:5px;  font-size: 13px;    font-weight: 600;    margin: 0 2px;}
.numbers a:hover,
.numbers a.selected { background: #999;}
#indivisual_report .ans .highlight, #indivisual_report .ans .selected {color:#F4B30A; text-shadow: 0 0 1px #F48F0A; font-size: x-large;}
