*{
    box-sizing: border-box;
}
body {
    /*background: url(../../survey-img/theme-1-bg.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    color: #777777;
}

.bg{
    background:#000 url(../../survey-img/theme-1-bg.jpg) no-repeat;
    color: #777777;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
  /*  -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
    height: 102%; 
    width: 102%; 
    position: fixed; 
    left: -5px; 
    top: -5px; 
}

.doc-attachment-btn{
    background: #000;
}

.top-section {
    background: #E4E4E4;
    /*
    background: url(../../survey-img/repeatHeadBg.png) repeat scroll 0 0 transparent;*/
    /*background: #60bae3;*/
    padding: 20px;
    padding: 32px 24px;
    border-bottom: 1px solid #F8FCFC;
}

.header .logo{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50%;
    max-width: 50%;
    vertical-align: middle;
    float: none;
}
.header .logo img{
    vertical-align: middle;
}
.header .survey-header h2 {
    color: #000;
    /*text-shadow: 1px 0 #fff;*/
    font-size: 28px;
}
.header .survey-header{
    padding: 0;
    display: inline-block;
    width: 50%;
    max-width: 50%;
    vertical-align: middle;
    text-align: right;
    float: none;
    letter-spacing: normal;
}
.survey-form.form-desc .form-body{
    padding-top: 0;
}
.bx-wrapper .bx-prev, .bx-wrapper .bx-next, .button {
    background: none repeat scroll 0 0 #0f9bdc;
    color: #ffffff !important;
}
.bx-wrapper .bx-viewport .bxslider .active-slide{
    width: 100%;
}
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next:hover, .button:hover {
    background:#60BAE3;
}
.page-no {
    background: none repeat scroll 0 0 #0f9bdc;
    display: none;
}
.survey-container{
    padding: 0 24px;
}
.survey-form .form-header {
    padding: 0;
    background: none !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
    min-height: 0;
}
.survey-form .form-header h1 {
    color: #6D6D6D;
    text-shadow: 1px 1px #ffffff;
    font-size: 22px;
    text-transform: capitalize;
}
.survey-form.form-desc{
    margin-bottom: 0;
}
.survey-form{
    margin-bottom: 0;/*
    background: url(../../survey-img/theme-1-cntnbg.png) repeat scroll 0 0 transparent;*/
}
textarea.form-control{
    font-family: "Open Sans";
    height: 150px !important;
    max-width: 100%;
    width: 100% !important;
}
.form-control{
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #e1e1e1;
}
.survey-form .questions {
    color: #000000;
    word-break: break-word;
    white-space: normal;
    word-wrap: break-word;
}
.action-block {
    background: none;
    border-top: medium none;
    margin: 0;
    padding: 30px 0;
    width: 100%;
    position: relative;
}
.action-block .button.btn-submit,
.button {
    background: url(../../survey-img/next-arr.png) no-repeat scroll 82% center #000!important;
    color: #ffffff !important;
    border-radius: 5px;
    padding: 21px 50px 22px 15px;
    font-weight: bold;
    font-size: 15px;
    line-height: 2px;
}
.action-block .bx-prev.button{
    background: url(../../survey-img/back-arr.png) no-repeat scroll 14% center #8d8d8d!important;
    padding: 21px 15px 22px 45px;
    left: 0;
    position: absolute;
}
.survey-form .form-body{
    padding: 20px 0;
}
.survey-form .form-body .option.checkbox-list,
.survey-form .form-body .option.select-list,
.survey-form .form-body .option.multiselect-list,
.survey-form .form-body .option.radio-list,
.survey-form .form-body .option.input-list ul{
    padding-left: 20px;
}
.container,
.header{
    width: 100%;
    border:0;
    box-shadow: none;

}
.main-container{
    position: relative;
    background: #fff;
    width: 786px;
    margin: 90px auto;
    border: 12px solid #000;
}
.header{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    letter-spacing: -0.31em;
}
.main-container .clip{
    display: none;
}
.survey-form .progress-bar{
    display: inline-block;
    width: 100%;
    margin: 30px 0;
    vertical-align: top;
    text-align: center;
}
.survey-form .progress-bar li .pro-text{
    display: block;
    padding-bottom:5px; 
    color: #000;
}
.survey-form .progress-bar li{
    /*float: left;*/
    width: 25%;
    text-align: center;
    position: relative;
    margin: 0;
}
.survey-form .progress-bar li+li:after{
    content: '';
    width: 100%;
    height: 2px;
    background: #cccccc;
    position: absolute;
    left: -50%;
    top: 45px;
    z-index: 0;
}
.survey-form .progress-bar li+li.active:after,
.survey-form .progress-bar li+li.completed:after{
    background: #000;
}
.survey-form .progress-bar li a{
    position: relative;
    width: 42px;
    margin: 0 auto;
    color: #fff;
    height: 42px;
    line-height: 38px;
    font-size: 15px;
    text-align: center;
    border: 2px solid transparent; 
    background: #cccccc;
    border-radius: 50%;
    text-decoration: none;
    display: block;
    font-weight: 800;
    z-index: 2;
}
.survey-form .progress-bar li.completed a{
    background: #000;
}
.survey-form .progress-bar li.active a{
    border: 2px dashed #000; 
    background: #fff;
    color: #000;
}
.md-radio label > .check{
    background: #000 !important;
}
.md-checkbox label > .check {
    border: 2px solid #000 !important;
    border-top: none !important;
    border-left: none !important;
}
.tooltip-score, .tooltip_bottom{
    background-color: rgba(0, 0, 0, 0.73);
}
.ui-slider-range {
    background: #000;
}
.progress-bar section div.equal{
   background: #000; 
}
.tooltip-score:before, .tooltip_bottom:before{
    border-top: 9px solid rgba(0, 0, 0, 0.73);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}
.btm-link{
    text-align: center;
    width: 100%;
    padding-top: 115px;
}
.btm-link a{
    text-decoration: none;
    color: #808080;
    font-size: 12px;
    line-height: 28px;
}

/*======= new changes (11-4-2017) ======*/

.survey-footer{background: #E4E4E4;padding: 0 24px 33px;margin-top: 15px;}


@media only screen and (min-width:1024px) and (max-width: 1200px){
    .main-container,
    .main-container:after,
    .main-container:before{
        width: 700px;
    }
}
@media only screen and (min-width:768px) and (max-width: 1023px){
    .main-container,
    .main-container:after,
    .main-container:before{
        width: 650px;
    }
    .main-container{
        padding: 20px 18px;
    }
    .main-container .clip .clip-1, .main-container .clip .clip-2{
        top:-106px;
    }
    .survey-form .progress-bar li + li::after {
        top: 43px;
    }
    .survey-form .progress-bar li a{
        width: 36px;
        height: 36px;
        line-height: 32px;
        font-size: 14px;
    }
    .survey-form .progress-bar{
        margin: 15px 0;
    }
    .survey-form .form-body{
        padding: 15px 0;
    }
    .bx-wrapper .bx-viewport .bxslider .active-slide{
        width: 100%;
    }
    .survey-form .questions{
        font-size: 14px;
    word-break: break-word;
    white-space: normal;
    word-wrap: break-word;
    }
    .survey-form li label{
        font-size: 13px; 
    }
    .button{
        padding: 18px 47px 19px 12px;
        font-size: 14px;
    }
    .btm-link{
        padding-top: 80px;
    }
}
@media only screen and (min-width:0 ) and (max-width: 767px){
    body{
        padding: 20px;
        font-size: 11px;
    }
    .main-container,
    .main-container:after,
    .main-container:before{
        width: 100%;
    }
    .main-container{
        margin: 40px 0;
        float: none;
        right: auto;
        padding: 0px;
    }
    .header .survey-header{
        padding: 0;
    }
    .header .survey-header h2{
        font-size: 23px;
    }/*
    .main-container::before{
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    .main-container::after{
        moz-transform: rotate(-0.5deg);
        -webkit-transform: rotate(-0.5deg);
        transform: rotate(-0.5deg);
    }*//*
    .main-container .clip img{
        width: 60%;
    }
    .main-container .clip .clip-1, .main-container .clip .clip-2{
        top: -72px;
    }
    .main-container .clip .clip-2{
        right: 5px;
    }*/
    .survey-form .progress-bar{
        margin: 12px 0;
    }
    .survey-form .progress-bar li a{
        width: 30px;
        height: 30px;
        line-height: 26px;
        font-size: 13px;
        border:2px dashed;
        position: relative;
    }
    .survey-form .progress-bar li.active a:after{
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        z-index: 2;
        top: 15px;
        right: -29px;
        border-top: 2px dashed;
        border-left: 2px solid #fff;
        border-right: 2px dashed;
        border-bottom: 2px dashed;
        border-radius: 0 25px 0 0;
    }
    .survey-form .progress-bar li.active a:before{
       content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        z-index: 3;
        top: 15px;
        right: -29px;
        border-radius:100%;
        box-shadow:inset 0 0 0 5px white, 0 0 0 5px white;;
        border:solid transparent 5px;
    }
    .survey-form .progress-bar li + li::after{
        top: 36px;
    }
    .survey-form .form-body{
        padding: 12px 0;
    }
    .survey-form .questions{
        font-size: 13px;
    word-break: break-word;
    white-space: normal;
    word-wrap: break-word;
    }
    .survey-form .form-body .option.checkbox-list,
    .survey-form .form-body .option.select-list,
    .survey-form .form-body .option.multiselect-list,
    .survey-form .form-body .option.radio-list,
    .survey-form .form-body .option.input-list ul{
        padding-left: 0;
    }
    .survey-form .two-col li{
        width: 100%;
    }
    .action-block .btn-submit,
    .button{
        background: url(../../survey-img/next-arr.png) no-repeat scroll center center #4885d8 !important;
        padding: 17px 24px 17px 15px;
        font-size: 0;
    }
    .action-block .bx-prev.button{
        background: url(../../survey-img/back-arr.png) no-repeat scroll center center #8d8d8d !important;
        padding: 17px 24px 17px 15px;
    }
    .survey-form li label{
        font-size: 12px;
    }
    .btm-link{
        padding-top: 70px;
    }
}

.matrix-tbl-contner{
    overflow-x:auto;
    max-width: 750px; 
}

.survey_tmp_matrix{
    width: 100%;
    padding: 0 0 15px 0;
}
.survey_tmp_matrix tbody{
    overflow-x: auto;
    width: 100%;
    max-width: 750px;
}

.survey_tmp_matrix tbody .row th,
.survey_tmp_matrix tbody .row td{
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
    display: table-cell !important;
    /*word-wrap:normal;*/
    /*display: block;*/
}

.survey_tmp_matrix tbody .row{
    box-sizing:border-box;
    display: table-row !important;
}
.question-section{
    background-color: #000;
    color : #fff;
    padding:3px 5px;
}
#lang_selection{
    color: #fff;
}

.main-container .survey-footer {
   // background: #60bae3;
}
.main-container .survey-footer center {
    padding-top:20px;
}

/********************** 22-8-18 ***********************/

@media (min-width: 320px) and (max-width: 767px){
.survey-form.welcome-form .form-body p span{ font-size: 24px !important; line-height: 40px !important;word-break: break-word; white-space: normal; }
.survey-footer center p span{ font-size: 24px !important; line-height: 40px !important }
.richContect p span {font-size: 24px !important; word-break: break-word;}
.survey-footer p span {font-size: 24px !important; }
.bx-viewport ul{ margin-left: 0px !important }
.main-container:after, .main-container:before{ left: -34px !important }
}

.survey-form .form-body {
    word-break: break-all;
}
li.md-checkbox label label {
    padding-left: 0;
}
.ui-widget-content {
    color: #fff !important;
    word-break: break-word;
    white-space: normal;   
    font-size: 11px !important;
    line-height: 16px;
}

@media (min-width: 768px) and (max-width: 1199px){
.survey-form.welcome-form .form-body p span{ font-size: 32px !important; line-height: 40px !important }
.survey-footer center p span{ font-size: 32px !important; line-height: 40px !important }
.richContect p span {font-size: 32px !important; }
.survey-footer p span {font-size: 32px !important; }

}    

.horizontal-options .md-radio{ width: 100% !important }

/*.survey_tmp_matrix tbody .row th, .survey_tmp_matrix tbody .row td{ display: inline-block !important; }*/ /*commented due to matrix input was not displaying propely on form*/

.option.select-list span {
    word-break: break-word;
    white-space: normal;
}
