
*{
    box-sizing: border-box;
}
body {
    /*background: url(../../survey-img/theme-8-bg.png) no-repeat ;
    background-size: cover;
    background-attachment: fixed;*/
    color: #777777;
}

.bg{
    background:#000 url(../../survey-img/theme-8-bg.jpg) no-repeat;
    color: #777777;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
  /*  -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
    height: 102%; 
    width: 102%; 
    position: fixed; 
    left: -5px; 
    top: -5px; 
}

.doc-attachment-btn{
    background: #3C1D0D;
}

.question-section {
    background-color: #70432c;
    color: #fff;
    padding: 3px 5px;
}

.top-section {
    /*background: url(../../survey-img/header_bg.png);*/
    border-bottom: 2px solid #70432c;
    /*border-radius: 5px;*/
    padding: 50px 25px 26px 24px;
}
.header .logo{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50%;
    max-width: 50%;
    vertical-align: middle;
    float: none;
}
.header .logo img{
    vertical-align: middle;
}
.header .survey-header h2 {
    color: #70432c;
    font-size: 25px;
}
.header .survey-header{
   padding: 0;
    display: inline-block;
    width: 50%;
    max-width: 50%;
    vertical-align: middle;
    text-align: right;
    float: none;
    letter-spacing: normal;
}
.survey-container{
    padding: 0 24px;
}
.bx-wrapper .bx-prev, .bx-wrapper .bx-next, .button {
    background: none repeat scroll 0 0 #5d60a4;
    color: #ffffff !important;
}
.bx-wrapper .bx-viewport .bxslider .active-slide{
    width: 100%;
}
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next:hover, .button:hover {
    background: none repeat scroll 0 0 #7376b8;
}
.page-no {
    background: none repeat scroll 0 0 #5d60a4;
    display: none;
}
.survey-form .form-header {
    padding: 0;
    background: none !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
    min-height: 0;
}
.survey-form .form-header h1 {
    
    text-transform: capitalize;
        color: #6D6D6D;
    font-size: 22px;
}
.survey-form.form-desc{
    margin-bottom: 0;
}
.survey-form{
    margin-bottom: 0;
}
.form-control{
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #e1e1e1;
}
.survey-form .questions {
    color: #434343;
    font-size: 15px;
    font-weight: 600;
    word-break: break-word;
    white-space: normal;
    word-wrap: break-word;
}
.action-block {
    background: none;
    border-top: medium none;
    margin: 0;
    padding: 30px 0;
    width: 100%;
    position: relative;
}
.action-block .button.btn-submit,
.button {
    background: url(../../survey-img/next-arr.png) no-repeat scroll 82% center #3C1D0D !important;
    color: #ffffff !important;
    border-radius: 5px;
    padding: 21px 50px 22px 15px;
    font-weight: bold;
    font-size: 15px;
    line-height: 2px;
}
.action-block .bx-prev.button{
    background: url(../../survey-img/back-arr.png) no-repeat scroll 14% center #8d8d8d!important;
    padding: 21px 15px 22px 45px;
    left: 0;
    position: absolute;
}
.survey-form .form-body{
    padding: 20px 0; 
}
.survey-form .form-body .option.checkbox-list,
.survey-form .form-body .option.select-list,
.survey-form .form-body .option.multiselect-list,
.survey-form .form-body .option.radio-list,
.survey-form .form-body .option.input-list ul{
    padding-left: 20px;
}
.container,
.header{
    width: 100%;
    border:0;
    box-shadow: none;
}
.main-container,
.main-container:after,
.main-container:before{
    background: #fff;
    border-radius: 10px;
    width: 786px;
    border: 1px solid #ebebeb; 
}
.main-container{
    position: relative;
    background: #fff;
    border-radius: 10px;
    margin: 90px auto;
    float: left;
    left: 57px;
}

.main-container:after,
.main-container:before{
    content: '';
    height: 100%;
    position: absolute;
    left: -2px;
    top: -5px;
    z-index: -1;
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    box-shadow: 0 0 5px #ebebeb;
}
.main-container:before{
   -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); 
}
.header{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    letter-spacing: -0.31em;
}
.main-container .clip{
    position: relative;
    /*display: inline-block;*/
    width: 100%;
}
.main-container .clip .clip-0,
.main-container .clip .clip-3,
.main-container .clip .clip-4{
    display: none;
}
.main-container .clip .clip-1,
.main-container .clip .clip-2{
    position: absolute;
    display: block;
    top: -70px;
    left: 20px;
}
.main-container .clip .clip-2{
    right: 45px;
    left: inherit;
}
.survey-form .progress-bar{
    margin: 40px 0 20px ; 
    width: 100%;
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.survey-form .progress-bar li{
    font-size: 14px;
    width: 24%;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 0;
    padding: 10px 10px 10px 30px;
    min-width: 180px;
    /*float: left;*/
    position: relative;
    background-color: #ceb497;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}
.survey-form .progress-bar li.active{
    color: #fff;
    background-color: #70432c;
}
.survey-form .progress-bar li:first-of-type:before{
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}
.survey-form .progress-bar li:before,
.survey-form .progress-bar li:after{
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 17px solid #ceb497;
    z-index: 2;
    transition: border-color 0.2s ease;
}
.survey-form .progress-bar li.active:after{
    border-left: 17px solid #70432c;
}
.survey-form .progress-bar li a{
    display: none;
}
.survey-form .progress-bar li:before{
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}
.survey-form .progress-bar li{
    font-size: 14px;
    text-align: center;
    color: #3C1D0D;
    cursor: pointer;
}
.md-radio label > .check{
    background: #70432c !important;
}
.md-checkbox label > .check {
    border: 2px solid #70432c !important;
    border-left: none !important;
    border-top: none !important;
}
.tooltip-score, .tooltip_bottom{
        background-color: rgba(112, 67, 44, 0.88);
}
.ui-slider-range {
    background: #70432C;
}
.progress-bar section div.equal{
   background: #70432C;
}
.tooltip-score:before, .tooltip_bottom:before{
    border-top: 9px solid rgba(112, 67, 44, 0.88);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}
.btm-link{
    text-align: center;
    width: 100%;
    padding-top: 115px;
}
.btm-link a{
    text-decoration: none;
    color: #808080;
    font-size: 12px;
    line-height: 28px;
}

/*======= new changes (11-4-2017) ======*/

.survey-footer{border-top: 2px solid #70432c;margin-top: 15px;padding: 0 24px 33px;}


@media only screen and (min-width:1024px) and (max-width: 1200px){
    .main-container,
    .main-container:after,
    .main-container:before{
        width: 700px;
    }
}
@media only screen and (min-width:768px) and (max-width: 1023px){
    .main-container,
    .main-container:after,
    .main-container:before{
        width: 650px;
    }
    .main-container{
        padding: 20px 18px;
    }
    .main-container .clip .clip-1, .main-container .clip .clip-2{
        top:-106px;
    }
    .survey-form .progress-bar li + li::after {
        top: 43px;
    }
    .survey-form .progress-bar li a{
        width: 36px;
        height: 36px;
        line-height: 32px;
        font-size: 14px;
    }
    .survey-form .progress-bar{
        margin: 15px 0;
    }
    .survey-form .form-body{
        padding: 15px 0;
    }
    .bx-wrapper .bx-viewport .bxslider .active-slide{
        width: 100%;
    }
    .survey-form .questions{
        font-size: 14px;
    word-break: break-word;
    white-space: normal;
    word-wrap: break-word;
    }
    .survey-form li label{
        font-size: 13px; 
    }
    .button{
        padding: 18px 47px 19px 12px;
        font-size: 14px;
    }
    .btm-link{
        padding-top: 80px;
    }
}
@media only screen and (min-width:0 ) and (max-width: 767px){
    body{
        padding: 20px;
        font-size: 11px;
    }
    .main-container,
    .main-container:after,
    .main-container:before{
        width: 100%;
    }
    .main-container{
        margin: 40px 0;
        float: none;
        left: auto;
        padding: 15px;
    }
    .main-container::before{
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    .main-container::after{
        moz-transform: rotate(-0.5deg);
        -webkit-transform: rotate(-0.5deg);
        transform: rotate(-0.5deg);
    }
    .main-container .clip img{
        width: 60%;
    }
    .main-container .clip .clip-1, .main-container .clip .clip-2{
        top: -72px;
    }
    .main-container .clip .clip-2{
        right: 5px;
    }
    .header .survey-header h2{
        font-size: 20px;
    }
    .survey-form.form-desc .form-body{
        padding: 5px 0;
    }
    .survey-form .progress-bar{
        margin: 15px 0 12px;
    }
    .survey-form .progress-bar li{
        width: 20%;
        min-width: 55px;
        padding: 13px 10px 13px 18px;
        font-size: 10px;
    }
    .survey-form .form-body{
        padding: 12px 0;
    }
    .survey-form .questions{
        font-size: 13px;
    word-break: break-word;
    white-space: normal;
    word-wrap: break-word;
    }
    .survey-form .form-body .option.checkbox-list,
    .survey-form .form-body .option.select-list,
    .survey-form .form-body .option.multiselect-list,
    .survey-form .form-body .option.radio-list,
    .survey-form .form-body .option.input-list ul{
        padding-left: 0;
    }    
    .survey-form .two-col li{
        width: 100%;
    }
    .action-block .button.btn-submit,
    .button{
        background: url(../../survey-img/next-arr.png) no-repeat scroll center center #ceb497 !important;
        padding: 17px 24px 17px 15px;
        font-size: 0;
    }
    .action-block .bx-prev.button{
        background: url(../../survey-img/back-arr.png) no-repeat scroll center center #8d8d8d !important;
        padding: 17px 24px 17px 15px;
    }
    .survey-form li label{
        font-size: 12px;
    }
    .btm-link{
        padding-top: 70px;
    }
}

.matrix-tbl-contner{
    overflow-x:auto;
    max-width: 750px; 
}

.survey_tmp_matrix{
    width: 100%;
    padding: 0 0 15px 0;
}
.survey_tmp_matrix tbody{
    overflow-x: auto;
    width: 100%;
    max-width: 750px;
}

.survey_tmp_matrix tbody .row th,
.survey_tmp_matrix tbody .row td{
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
    display: table-cell !important;
    /*word-wrap:normal;*/
    /*display: block;*/
}

.survey_tmp_matrix tbody .row{
    box-sizing:border-box;
    display: table-row !important;
}

.main-container .survey-footer {
    background: none;
    border-top: 2px solid #70432c;
}
.main-container .survey-footer center {
    color: #70432c;
}



/********************** 22-8-18 ***********************/

@media (min-width: 320px) and (max-width: 767px){
.survey-form.welcome-form .form-body p span{ font-size: 24px !important; line-height: 40px !important;word-break: break-word;white-space: normal; }
.survey-footer center p span{ font-size: 24px !important; line-height: 40px !important }
.richContect p span {font-size: 24px !important; word-break: break-word;}
.survey-footer p span {font-size: 24px !important; }
.bx-viewport ul{ margin-left: 0px !important }
}

.survey-form .form-body {
    word-break: break-all;
}
li.md-checkbox label label {
    padding-left: 0;
}
.ui-widget-content {
    color: #fff !important;
    word-break: break-word;
    white-space: normal;   
    font-size: 11px !important;
    line-height: 16px;
}

@media (min-width: 768px) and (max-width: 1199px){
.survey-form.welcome-form .form-body p span{ font-size: 32px !important; line-height: 40px !important }
.survey-footer center p span{ font-size: 32px !important; line-height: 40px !important }
.richContect p span {font-size: 32px !important; }
.survey-footer p span {font-size: 32px !important; }

}    

/*.survey_tmp_matrix tbody .row th, .survey_tmp_matrix tbody .row td{ display: inline-block !important; }*/ /*commented due to matrix input was not displaying propely on form*/

.option.select-list span {
    word-break: break-word;
    white-space: normal;
}
