{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="error-message relative pt-6 px-8 max-w-[25rem]">
    {{#with model.attributes}}
        <h1 class="mb-3">{{str title}}</h1>

        {{#each messages}}
            <p>{{str this}}</p>
        {{/each}}

        {{#if linkText}}
            <p>
                <a class="btn btn-primary m-0 mt-2" href="javascript:window.history.back()">
                    {{str linkText}}
                </a>
            </p>
        {{/if}}
    {{/with}}
</div>

<div class="error-bg"></div>
