<div class="divPersonasRel">
    <div class="record-label">Persona con quien se atiende la llamada </div>
    <label class="normal row-fluid" data-field="">{{#if seleccionado}} {{seleccionado}} {{/if}}
    </label>
</div>