/** Paneles Contraido **/
.record-panel .record-panel-header-container{
  background: #1e588e;
  border: 2px solid #cdcdcc;
  color: #ffffff;
}

.record-panel .record-panel-header.panel-active
{
  background: #1e588e;
  color: #ffffff;
}

.record-panel .record-panel-header-container.panel-inactive:hover
{
  /*background: #d9e3f7;*/
  background-color: #ada9a9;

}

.subpanels-layout .subpanel.closed{
  background-color: #ada9a9;
}
.subpanels-layout .subpanel.closed:hover{
  background-color: rgba(142, 142, 142, 0.31);
}
.subpanels-layout .subpanel {
  background-color: #ada9a9;
}

.subpanels-layout .subpanel li .fa, .nav li .fa {
  color: #000000;
}