/** Paneles Contraido **/
.record-panel .record-panel-header-container{
  background: #1e588e;
  border: 2px solid #cdcdcc;
  color: #ffffff;
}

.record-panel .record-panel-header.panel-active
{
  background: #1e588e;
  color: #ffffff;
}

.record-panel .record-panel-header-container.panel-inactive:hover
{
  /*background: #d9e3f7;*/
  background-color: #ada9a9;

}