{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="popover sidebar-nav-flyout bg-[--alert-background] !border border-[--primary-content-background] dark:border-[--dropdown-border-widget] !fixed p-0 !rounded-md w-auto" role="menu">
    <div class="popover-content popover-body !bg-[--primary-content-background] !max-h-[600px] !overflow-x-hidden !overflow-y-auto !p-0 !rounded-md">
    </div>
</div>
