<style>

    .modal-header_cstm h3 {
        font-size: 16px;
        font-weight: normal;
		justify-content: center;
		align-items: center;
    }

	.modal-header_cstm {
        background: #fff7ad;
        color: #866500;
        padding: 1px;
		justify-content: center;
		align-items: center;
		border-color: #ffd132;
		text-align: center;
		height: 48px;
    }

    .modal-body_cstm {
        padding: 18px 40px 16px;
		font-size: 14px;
		display: block;
    }

    .fa-book {
        color: #866500;
    }

    .modal_cstm {
        position: absolute;
        padding-top: 0px;
        padding-bottom: 0px;
        top: 0;
        overflow: auto;
		border-color: #ffd132;
		color: #555;
        display: block;
		width: auto;
		height: auto;
		 overflow: hidden;
    }

    .modal-backdrop {
        /* bug fix - no overlay */
        display: flex;
    }

    .form-horizontal {
        display: inline-block;
    }

    .select_cstm {
        margin: 1px 0px 1px 1px !important;
		border-color: #ffd132;
    }
	
	.modal-footer_cstm {
		border-top: 1px solid #ffd132;
        background: #fff7ad;
        color: #555;
        padding: 1px;
		justify-content: center;
		border-color: #ffd132;
		width: 100%;
		height: 35px;
		justify-content: center;
		
    }
	
	.btn-esn{
		text-align: center;
		display: inline-block !important;
		padding: 1px 1px;
		margin: 0;
		width: 50%;
		color: #555;
		font-size: 13px;
		background: #faf8f7;
		height: 100%;
	}

</style>

<script>
    var $select = $('select.select2');
    $select.select2();
</script>

<div class=" modal modal_cstm " id="MotivoCancelModal" tabindex="-1" role="dialog">
    <div class="modal-header_cstm">
        <h3><b><i class="fa fa-book" style="padding: 3px; "></i>Lead Management</b></h3>
    </div>
	<div class="modal-body_cstm">
		<div style="display: inline-flex;padding: 5px; ">
            <label for="" style=" font-weight:bold;font-size: 15px; color: black; padding: 5px 5px;">Seleccione la opción deseada:</label>
		</div><br>
		
		<div class="motivos" id="motivos" style="display: inline-flex;padding: 5px;">
			Motivo de Cancelación:&nbsp;
			<select name="motivocancelacion" id="motivocancelacion" class="select2" style="width:353px;">
                {{{motivo_list}}}
            </select>
		</div>
        <div class="submotivos2" id="submotivos2" style="padding: 5px;">
			Submotivo de Cancelación:&nbsp;
			<select name="submotivocancelacion2" id="submotivocancelacion2" class="select2" style="width:328px;">
                {{{submotivo_list_2}}}
            </select>
		</div>
        <div class="submotivos3" id="submotivos3" style="padding: 5px;">
			Submotivo de Cancelación:&nbsp;
			<select name="submotivocancelacion3" id="submotivocancelacion3" class="select2" style="width:328px;">
                {{{submotivo_list_3}}}
            </select>
		</div>
        <div class="submotivos5" id="submotivos5" style="padding: 5px;">
			Submotivo de Cancelación:&nbsp;
			<select name="submotivocancelacion5" id="submotivocancelacion5" class="select2" style="width:328px;">
                {{{submotivo_list_5}}}
            </select>
		</div>
    </div>
    <div class="modal-footer_cstm" style="display: inline-flex;">
		<button class="span6 btn btn-esn" id="btn-asigna">Aceptar</button>
    </div>
</div>