<span class="record-label" data-name="counter_minuta" style="">Reunión Activa</span>
<span class="index" data-fieldname="counter_minuta" data-index="">
    <span class="detail">
        <div class="ellipsis_inline" data-placement="bottom" title="">
            <div id="timer">00:00:00</div>
        </div>
    </span>
</span>