<!--
Detall de Cuentas por Producto
Adrián Arauz - 04-Nov-19
-->
<div class="row-fluid">
    <table id="tablePotencialAutos" width="100%">
        <tr>
            <div class="row-fluid">
                <div class="campo1PA span6">
                    <label class="record-label" style="margin-left:0px">Número de Autos Utilitarios</label>
                    <input class="normal campo1pa digito span6" type="text" value="{{autos.tct_no_autos_u_int_c}}"/>
                </div>
                <div class="campo2PA span6">
                    <label class="record-label" style="margin-left:0px">Número de Autos Ejecutivos</label>
                    <input class="normal campo2pa digito span6" type="text" value="{{autos.tct_no_autos_e_int_c}}"/>
                </div>
            </div>
        <tr>
        </tr>
        <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
            <div class="campo3PA span6">
                <label class="record-label" style="margin-left:0px">Número de Motos</label>
                <input class="normal campo3pa digito span6" type="text" value="{{autos.tct_no_motos_int_c}}"/>
            </div>
            <div class="campo4PA span6">
                <label class="record-label" style="margin-left:0px">Número de Camiones</label>
                <input class="normal campo4pa digito span6" type="text" value="{{autos.tct_no_camiones_int_c}}"/>
            </div>
        </div>
        </tr>
    </table>
</div>