{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="btn-group orientation-group-btn">
    <div class="horizontal-tooltip-wrapper inline-block" rel="tooltip" data-bs-placement="bottom" data-original-title="{{str 'LBL_HORIZONTAL_SPLIT_VIEW' module}}">
        <button class="btn report-visibility-button" id="horizontal" data-action="change-orientation">
            <i class="sicon sicon-stacked"></i>
        </button>
    </div>

    <div class="vertical-tooltip-wrapper inline-block" rel="tooltip" data-bs-placement="bottom" data-original-title="{{str 'LBL_VERTICAL_SPLIT_VIEW' module}}">
          <button class="btn report-visibility-button" id="vertical" data-action="change-orientation">
            <i class="sicon sicon-sidebyside"></i>
        </button>
    </div>
</div>
