<link rel="stylesheet" href="custom/clients/base/views/cm_prospectos_kanban/styles/styles.css">
<div class="contenedor-grid">
    <div class="contenedor-sinContactar">
        <div class="contenedor-header">
            <div class="header-column">
                <h5>Lead sin contactar</h5>
                <img src="custom/include/images/Contacto_icon.png" alt="">
            </div>
            <div>
                <div class="padding">
                    <p>81 registros</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-contactado color-white">
        <div class="contenedor-header">
            <div class="header-column">
                <h5>Prospecto contactado</h5>
                <img src="custom/include/images/Contacto_icon.png" alt="">
            </div>
            <div class="padding">
                <div>
                    <p>81 registros</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-interesado color-white">
        <div class="contenedor-header">
            <div class="header-column">
                    <h5>Prospecto interesado</h5>
                    <img src="custom/include/images/Contacto_icon.png" alt="">
            </div>
            <div class="header-datos">
                    <div>
                    <p>81 registros</p>
                </div>
                <div class="cantidad-interesado  contenedor-cantidad">
                    <p><span>$</span>20,000.00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-integracion color-white">
        <div class="contenedor-header">
            <div class="header-column">
                <h5>Prospecto integracion de expediente</h5>
                <img src="custom/include/images/Contacto_icon.png" alt="">
            </div>
            <div class="header-datos">
               <div>
                    <p>81 registros</p>
                </div>
                <div class="cantidad-integracion contenedor-cantidad">
                    <p><span>$</span>20,000.00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-credito color-white">
        <div class="contenedor-header">
            <div class="header-column">
                <h5>Prospecto en credito</h5>
                <img src="custom/include/images/Contacto_icon.png" alt="">
            </div>
            <div class="header-datos">
                <div>
                    <p>81 registros</p>
                </div>
                <div class="cantidad-credito contenedor-cantidad">
                    <p><span>$</span>20,000.00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-conLinea color-white">
        <div class="contenedor-header">
        <div class="header-column">
                <h5>Cliente con linea sin operar</h5>
                <img src="custom/include/images/Contacto_icon.png" alt="">
            </div>
            <div class="header-datos">
                <div>
                    <p>81 registros</p>
                </div>
                <div class="cantidad-conLinea contenedor-cantidad">
                    <p><span>$</span>20,000.00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-activo color-white">
        <div class="contenedor-header">
            <div class="header-column">
                <h5>Cliente activo</h5>
                <img src="custom/include/images/Contacto_icon.png" alt="">
            </div>
            <div class="header-datos">
               <div>
                    <p>81 registros</p>
                </div>
                <div class="contenedor-cantidad cantidad-activo">
                    <p><span>$</span>20,000.00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-perdido color-white">
        <div class="contenedor-header">
            <div class="header-column">
                <h5>Cliente perdido</h5>
                <img src="custom/include/images/Contacto_icon.png" alt="">
            </div>
            <div class="header-datos">
                <div>
                    <p>81 registros</p>
                </div>
                <div class="contenedor-cantidad cantidad-perdido">
                    <p><span>$</span>20,000.00</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sinContactar-items border-right">
        <div class="contenedor-item">
            <div class="contenedor-informacion">
                <div class="contenedor-nombre">
                    <div class="circulo">
                        <p>UA</p>
                    </div>
                    <div  class="nombre">
                        <p>Ernesto</p>
                    </div>
                </div>
                <i class="fa fa-star" style="color: #3399FF"></i>
                <div class="cuadrado">
                    <p>4M</p>
                </div>
            </div>
            <div class="contenedor-detalles">
                <div>
                    <p>20/05/2022 10:40</p>
                </div>
                <div>
                    <p><span>$</span>0</p>
                </div>
            </div>
        </div>

        <div class="contenedor-item">
            <div class="contenedor-informacion">
                <div class="contenedor-nombre">
                    <div class="circulo">
                        <p>UA</p>
                    </div>
                    <div  class="nombre">
                        <p>Ernesto</p>
                    </div>
                </div>
                <i class="fa fa-star" style="color: #3399FF"></i>
                <div class="cuadrado">
                    <p>4M</p>
                </div>
            </div>
            <div class="contenedor-detalles">
                <div>
                    <p>20/05/2022 10:40</p>
                </div>
                <div>
                    <p><span>$</span>0</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contactado-items border-right">
        <div class="contenedor-item">
            <div class="contenedor-informacion">
                <div class="contenedor-nombre">
                    <div class="circulo">
                        <p>UA</p>
                    </div>
                    <div class="nombre">
                        <p>Ernesto perez rodriguez</p>
                    </div>
                </div>
                <i class="fa fa-star"></i>
                <div class="cuadrado">
                    <p>4M</p>
                </div>
            </div>
            <div class="contenedor-detalles">
                <div>
                    <p>20/05/2022 10:40</p>
                </div>
                <div>
                    <p><span>$</span>0</p>
                </div>
            </div>
        </div>
    </div>

     <div class="interesado-items border-right">
        <div class="contenedor-item">
            <div class="contenedor-informacion">
                <div class="contenedor-nombre">
                    <div class="circulo">
                        <p>UA</p>
                    </div>
                    <div class="nombre">
                        <p>Ernesto perez rodriguez</p>
                    </div>
                </div>
                <i class="fa fa-star"></i>
                <div class="cuadrado">
                    <p>4M</p>
                </div>
            </div>
            <div class="contenedor-detalles">
                <div>
                    <p>20/05/2022 10:40</p>
                </div>
                <div>
                    <p><span>$</span>0</p>
                </div>
            </div>
        </div>
    </div>

     <div class="integracion-items border-right">
        <div class="contenedor-item">
            <div class="contenedor-informacion">
                <div class="contenedor-nombre">
                    <div class="circulo">
                        <p>UA</p>
                    </div>
                    <div class="nombre">
                        <p>Ernesto perez rodriguez</p>
                    </div>
                </div>
                <i class="fa fa-star"></i>
                <div class="cuadrado">
                    <p>4M</p>
                </div>
            </div>
            <div class="contenedor-detalles">
                <div>
                    <p>20/05/2022 10:40</p>
                </div>
                <div>
                    <p><span>$</span>0</p>
                </div>
            </div>
        </div>
    </div>

    <div class="credito-items border-right">
        <div class="contenedor-item">
            <div class="contenedor-informacion">
                <div class="contenedor-nombre">
                    <div class="circulo">
                        <p>UA</p>
                    </div>
                    <div class="nombre">
                        <p>Ernesto perez rodriguez</p>
                    </div>
                </div>
                <i class="fa fa-star"></i>
                <div class="cuadrado">
                    <p>4M</p>
                </div>
            </div>
            <div class="contenedor-detalles">
                <div>
                    <p>20/05/2022 10:40</p>
                </div>
                <div>
                    <p><span>$</span>0</p>
                </div>
            </div>
        </div>
    </div>

    <div class="conLinea-items border-right">
        <div class="contenedor-item">
            <div class="linea">
                <p>Linea vigente</p>
            </div>
            <div class="contenedor-informacion">
                <div class="contenedor-nombre">
                    <div class="circulo">
                        <p>UA</p>
                    </div>
                    <div class="nombre">
                        <p>Ernesto perez rodriguez</p>
                    </div>
                </div>
                <i class="fa fa-star"></i>
                <div class="cuadrado">
                    <p>4M</p>
                </div>
            </div>
            <div class="contenedor-detalles">
                <div>
                    <p>20/05/2022 10:40</p>
                </div>
                <div>
                    <p><span>$</span>0</p>
                </div>
            </div>
        </div>
    </div>

    <div class="activo-items border-right">
        <div class="contenedor-item">
            <div class="anexo">
                <p>Anexo por vender</p>
            </div>
            <div class="contenedor-informacion">
                <div class="contenedor-nombre">
                    <div class="circulo">
                        <p>UA</p>
                    </div>
                    <div class="nombre">
                        <p>Ernesto perez rodriguez</p>
                    </div>
                </div>
                <i class="fa fa-star"></i>
                <div class="cuadrado">
                    <p>4M</p>
                </div>
            </div>
            <div class="contenedor-detalles">
                <div>
                    <p>20/05/2022 10:40</p>
                </div>
                <div>
                    <p><span>$</span>0</p>
                </div>
            </div>
        </div>

        <div class="contenedor-item">
            <div class="anexo">
                <p>Anexo por vender</p>
            </div>
            <div class="contenedor-informacion">
                <div class="contenedor-nombre">
                    <div class="circulo">
                        <p>UA</p>
                    </div>
                    <div class="nombre">
                        <p>Ernesto perez rodriguez</p>
                    </div>
                </div>
                <i class="fa fa-star"></i>
                <div class="cuadrado">
                    <p>4M</p>
                </div>
            </div>
            <div class="contenedor-detalles">
                <div>
                    <p>20/05/2022 10:40</p>
                </div>
                <div>
                    <p><span>$</span>0</p>
                </div>
            </div>
        </div>
    </div>

    <div class="perdido-items">
        <div class="contenedor-item">
            <div class="contenedor-informacion">
                <div class="contenedor-nombre">
                    <div class="circulo">
                        <p>UA</p>
                    </div>
                    <div class="nombre">
                        <p>Ernesto perez rodriguez</p>
                    </div>
                </div>
                <i class="fa fa-star"></i>
                <div class="cuadrado">
                    <p>4M</p>
                </div>
            </div>
            <div class="contenedor-detalles">
                <div>
                    <p>20/05/2022 10:40</p>
                </div>
                <div>
                    <p><span>$</span>0</p>
                </div>
            </div>
        </div>
    </div>
</div>