<div class="row-fluid">
    <table id="tablePaisesEstados" width="100%">
        <tr>
            <div class="row-fluid">
                <div class="span6">
                    <label class="record-label" style="margin-left:0px">Pais de nacimiento</label>
                    <label class="normal row-fluid select2" data-field="pais_nacimiento_cstm">
                        {{valPaisCstm}}
                    </label>
                </div>
                <div class="span6">
                    <label class="record-label" style="margin-left:0px">Estado de nacimiento</label>
                    <label class="normal row-fluid select2" data-field="estado_nacimiento_cstm">
                        {{valEstadoCstm}}
                    </label>
                </div>
            </div>
        </tr>
    </table>
</div>