{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="sidebar-nav-overlay{{#unless expanded}} hide{{/unless}} bg-black/50 w-full h-full fixed"></div>
<div
    class="sidebar-nav{{#if expanded}} expanded{{/if}} bg-blue-400 transition-transform ease-in-out duration-300 fixed flex flex-col group/sidebar h-full w-60 z-[1060]"
></div>


