<!--<iframe frameborder="0" width="100%" src="custom/Levementum/CustomEntryPoints/CustomerJourneyMicroDisposiciones.php"></iframe>-->
<html>
<body>
<script src="https://micro.unifin.com.mx/MicroStrategyLibrary/javascript/embeddinglib.js"></script>;
    <!--<iframe src="{{urlDisposiciones}}?IdAsesor={{idAsesor}}"  style="width:100%;height: 100%;position: absolute;"></iframe>-->
    <iframe src="{{urlReporte}}" style="width:100%;height: 100%;position: absolute;"></iframe>
</body>

</html>
