<div data-dashlet="dashlet" class="dashlet-content" style="padding:20px;">
	<div class="bs-docs-example dashlet-container">
		<div class="row-fluid">
			<div class="span3">
				<button class="btn" style="background:#f7f8f9;width:90%" id="assign_cp">Asignación por Centro de Prospección</a>
			</div>
			<div class="span3">
				<button class="btn" style="background:#f7f8f9;width:90%" id="assign_asesor">Asignación por asesor firmado</button>
			</div>
			<div class="span3">
				<button class="btn" style="background:#f7f8f9;width:90%" id="assign_bd">Asignación automática por base de datos</a>
			</div>
			<div class="span3">
				<button class="btn" style="background:#f7f8f9;width:90%" id="assign_cancel">Asignación a través de cancelados y aplazados</button>
			</div>
		</div>
  </div>
<div>