{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="empty-activity text-center">
    <h1>{{str 'LBL_NO_ACTIVITY'}}</h1>
    <img class="placeholder-empty" src="{{buildUrl url='styleguide/assets/img/dashboards/empty-state.svg'}}">
</div>
