
<br>
<h4 style="display: block; background-color:#021741; color: white;"><b>Objetivo Mensual</b></h4>
<canvas id="chartMensual" width="400" height="400"></canvas>
<h4 style="display: block; background-color:#021741; color: white;"><b>Objetivo Anual</b></h4>
<canvas id="chartAnual" width="400" height="400"></canvas>
<br>
