{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="dri-workflow-wrapper mx-2 mt-2.5 mb-3.5 rounded-md shadow hover:shadow-lg transition-shadow hover:bg-[--dashlet-background-hover] ui-sortable-handle open-border">
    <div class="sortable-journey">
        <div class="dri-workflow-info clearfix cursor-move pb-[1.6rem] pt-[2.125rem] px-6 rounded-t-lg">
            <div class="h-15">
                <div class="data-skeleton-loader h-20 w-full"></div>
            </div>
        </div>
    </div>
</div>
