
<style>
  .encabezado {
    background-color: #0679c8;
    color: white;
    padding: 10px;
  }

  .tborder {
    border: #21618C 2px solid;
    border-radius: 5px 5px 5px 5px;
    padding-top: 7px;
    padding-right: 5px;
    padding-left: 5px;
    border: #21618C 2px solid;
    border-radius: 5px 5px 5px 5px;
    padding-top: 7px;
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }
</style>
<div class="tborder">
  <table id="tableResult" class="table table-striped span12" style="padding:8px" >
    <thead class="encabezado">
      <tr>
        <th class="encabezado">Objetivo</th>
      </tr>
    </thead>
    <tbody>
      {{#each myobject.records}}
      <tr>
        <td class="objetivoSelect" width="100%">
          {{name}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>