{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="report-loading-screen-overlay" data-widget="split-screens-loading">
    <i class="sicon sicon-refresh sicon-is-spinning"></i>
</div>
<div data-container="split-screens-container" class="split-screens-container flex h-full w-full">
    <div class="first-split-screen overflow-auto" data-container="first-split-screen"></div>
    <div data-action="resizer">
        <div data-action="drag-handle"></div>
    </div>
    <div class="second-split-screen flex-1 overflow-auto" data-container="second-split-screen"></div>
</div>
