<style>
.wrapper{
    width:60%;
    display:block;
    overflow:hidden;
    margin:0 auto;
    padding: 20px 20px;
    background:#fff;
    border-radius:4px;
}
canvas{
  background:#fff;
  height:400px;
}
.wrapper-table{
    width:95%;
    display:block;
    overflow:hidden;
    margin:0 auto;
    padding: 10px;
    background:#fff;
    border-radius:4px;
}

.header1{
  background-color:#424242;
  color:white;
}

.header2{
  background-color: #47BDC6;
  color: white;
}

.headerTotal{
  background-color: #093763;
  color:white;
}
</style>
<div class="wrapper">
    <canvas id="myChart"></canvas>
</div>
